*{
    margin: 0;
    padding: 0;
}

.hero-container{
    background-color: palegoldenrod;
     min-height: 100px;
}

.about-container{
    background-color: antiquewhite;
     min-height: 100px;
}

.portfolio-container{
    background-color: aquamarine;
     min-height: 100px;
}

.testimonial-container{
    background-color: azure;
     min-height: 100px;
}

.contact-container{
    background-color: blanchedalmond;
     min-height: 100px;
}

.footer-container{
    background-color: grey;
     min-height: 100px;
}


